@import "tailwindcss";

* {
  @apply selection:bg-c-blue-500 selection:text-c-blue-900;
}

html {
  @apply text-base;
}

@theme {
  --breakpoint-s-1440: 90rem; /* 1440px */
  --breakpoint-s-1320: 82.5rem; /* 1320px */
  --breakpoint-s-1200: 75rem; /* 1200px */
  --breakpoint-s-1080: 67.5rem; /* 1080px */
  --breakpoint-s-960: 60rem; /* 960px */
  --breakpoint-s-840: 52.5rem; /* 840px */
  --breakpoint-s-720: 45rem; /* 720px */
  --breakpoint-s-600: 37.5rem; /* 600px */
  --breakpoint-s-480: 30rem; /* 480px */
  --breakpoint-s-360: 22.5rem; /* 360px */

  --color-c-blue-500: #706ea8;
  --color-c-blue-800: #1d1c3b;
  --color-c-blue-900: #17162e;
  --color-c-gray-400: #acacac;
  --color-c-gray-600: #454558;
  --color-c-red-700: #ba0707;

  --font-kumbh-sans: "Kumbh Sans";

  --shadow-card:
    32.8387px 24.5482px 79px rgba(0, 0, 0, 0.15),
    23.8851px 17.855px 53.2479px rgba(0, 0, 0, 0.121406),
    16.6246px 12.4276px 34.4391px rgba(0, 0, 0, 0.10125),
    10.9035px 8.15079px 21.3701px rgba(0, 0, 0, 0.0867188),
    6.56775px 4.90965px 12.8375px rgba(0, 0, 0, 0.075),
    3.46346px 2.58907px 7.6377px rgba(0, 0, 0, 0.0632813),
    1.4367px 1.07399px 4.56719px rgba(0, 0, 0, 0.04875),
    0.333519px 0.249318px 2.42246px rgba(0, 0, 0, 0.0285938);
  --shadow-image: 20px 20px 30px 0px #0000004d;
}

@font-face {
  font-display: swap;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/kumbh-sans/KumbhSans-Normal.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/kumbh-sans/KumbhSans-Medium.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 600;
  src: url(./assets/fonts/kumbh-sans/KumbhSans-SemiBold.ttf) format("truetype");
}
